@using ELearning.Models;

@{
    ViewData["Title"] = "Lesson Details";
    LessonModel sqldata = ViewBag.sqldata;
}

<div class="text-center">
    <h1 class="display-4">lesson List</h1>
</div>

<table class="table">
    <thead>
        <tr>
			<th scope="col">Lesson ID</th>
			<th scope="col">Course</th>
            <th scope="col">Lesson Title</th>            
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in sqldata.lessons)
        {
            <tr>
				<td>@lesson.LessonId</td>
				<td>@lesson.CourseName</td>
                <td>@lesson.LessonTitle</td>
                
                <td>
                    <a href="@Url.Action("GetLessonById", "Lesson", new { id = lesson.LessonId })" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del-@lesson.LessonId">
                        Delete
                    </button>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="del-@lesson.LessonId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <dl class="dl-horizontal">
                                <dt>lesson ID:</dt>
                                <dd>@lesson.LessonId</dd>
                                <dt>lesson Name:</dt>
                                <dd>@lesson.LessonTitle</dd>
                                
                            </dl>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="@Url.Action("DeleteConfirmed", "Lesson", new { id = lesson.LessonId })" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
<a href="@Url.Action("lessonPage", "Home")" class="btn btn-primary"><i class="fas fa-arrow-left ml-1"></i> Back</a>
