@using ELearning.Models;

@{
    InstructorModel Viewsqldata = ViewBag.sqldata;
}

@{
    ViewData["Title"] = "Instructor and Course Details";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The table below shows content in the 'Course and Instructor' table.</p>
</div>

<!-- Main layout -->
<main class="mt-1 pt-3">
    <div class="container mt-3 mb-2">
        <form method="get" action="@Url.Action("SearchByInstructor", "Instructor")">
            <div class="d-flex">
                <select id="searchNameSelect" name="searchName" class="form-control me-5">
                    <option value="" style="text-color:grey">Select Instructor</option>
                    @foreach (var instructor in Viewsqldata.InstructorList)
                    {
                        <option value="@instructor.InstructorName">@instructor.InstructorName</option>
                    }
                </select>

                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <div class="container">

        @if (Viewsqldata != null && Viewsqldata.SearchByInstructor.Count > 0)
        {
            <table class="table table-bordered">

                <thead class="table-dark">
                    <tr>
                        <th scope="col">CourseID</th>
                        <th scope="col">CourseTitle</th>
                        <th scope="col">Instructor ID</th>
                        <th scope="col">Instructor Name</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < @Viewsqldata.SearchByInstructor.Count; i++)
                    {
                        <tr>
                            <td>@Viewsqldata.SearchByInstructor[i].CourseId</td>
                            <td>@Viewsqldata.SearchByInstructor[i].CourseTitle</td>
                            <td>@Viewsqldata.SearchByInstructor[i].InstructorId</td>
                            <td>@Viewsqldata.SearchByInstructor[i].InstructorName</td>
                           
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <p>No data available</p>
        }

    </div>
    <!-- End of class container-->
</main>
<!--End of Main layout-->
