@{
    Layout = "./_Layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearning</title>
    <style>
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #217B7E; /* Sidebar background color */
        }

            .sidebar a {
                padding: 10px;
                text-decoration: none;
                font-size: 18px;
                color: white; /* Text color */
                display: block;
            }

                .sidebar a:hover {
                    background-color: #217B7E;
                }

        .dropdown-btn {
            padding: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: left;
            outline: none;
            color: white; /* Text color */
            background-color: #217B7E; /* Button background color */
        }

        .dropdown-container {
            display: none;
            padding-left: 20px;
        }

            .dropdown-container a {
                padding: 10px;
                text-decoration: none;
                font-size: 16px;
                color: white;
                display: block;
            }

                .dropdown-container a:hover {
                    background-color: #333;
                }

        .show {
            display: block;
        }

        /* Hide bullet points for ul */
        .sidebar-menu {
            list-style-type: none;

        }
       
    </style>


</head>
<body>
    <div class="d-flex">
        <div class="container-fluid w-25">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 p-0 sidebar">
                    <div class="sidebar-header">
                        <h3 style="color:white">ELearning</h3>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">
                                <i class="fas fa-home mr-2"></i> Home
                            </a>
                        </li>
                        
                        <button class="dropdown-btn">
                            <i class="fas fa-user-graduate"></i>
                            Student
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AddStudent", "Student")">
                                    <i class="fas fa-plus"></i> Add Student
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListStudent", "Student")">
                                    <i class="fas fa-list"></i> List Student
                                </a>
                            </li>                           
                        </div>


                        <button class="dropdown-btn">
                            <i class="fas fa-book"></i>
                            Course
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AddCourse", "Course")">
                                    <i class="fas fa-plus"></i> Add Course
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListCourse", "Course")">
                                    <i class="fas fa-list"></i> List Course
                                </a>
                            </li>                           
                        </div>

                        @* <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListCourse", "Course")">
                                <i class="fas fa-book mr-2"></i> Course
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListInstructor", "Instructor")">
                                <i class="fas fa-chalkboard-teacher mr-2"></i> Instructor
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListLesson", "Lesson")">
                                <i class="fas fa-file-alt mr-2"></i> Lesson
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListEnrollment", "Enrollment")">
                                <i class="fas fa-users mr-2"></i> Enrollment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Privacy", "Home")">
                                <i class="fas fa-shield-alt mr-2"></i> Privacy
                            </a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </div>


  @*   <div class="sidebar">
        <a href="#">Home</a>
        <button class="dropdown-btn">
            Products
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Product 1</a>
            <a href="#">Product 2</a>
            <a href="#">Product 3</a>
        </div>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div> *@
    <div class="w-100 h-100">
        @RenderBody()
    </div>

    <script>
        document.querySelectorAll('.dropdown-btn').forEach(item => {
            item.addEventListener('click', event => {
                let dropdownContent = item.nextElementSibling;
                dropdownContent.classList.toggle('show');
            });
        });

        window.onclick = function (event) {
            if (!event.target.matches('.dropdown-btn')) {
                let dropdowns = document.getElementsByClassName("dropdown-container");
                for (let i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    </body>
