<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #217B7E; /* Sidebar background color */
        }


            .sidebar a,li {
                padding: 10px;
                text-decoration: none;
                font-size: 18px;
                color: white; /* Text color */
                display: block;
            }

                .sidebar a:hover {
                    background-color: #217B7E;
                }

        .dropdown-btn {
            padding: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: left;
            outline: none;
            color: white; /* Text color */
            background-color: #217B7E; /* Button background color */
        }

        .dropdown-container {
            display: none;
            padding-left: 20px;
        }

            .dropdown-container a {
                padding: 10px;
                text-decoration: none;
                font-size: 16px;
                color: white;
                display: block;
            }

                .dropdown-container a:hover {
                    background-color: #217B7E;
                }

        .show {
            display: block;
        }

        /* Hide bullet points for ul */
        .sidebar-menu {
            list-style-type: none;
            padding: 0; /* Remove padding */
        }


    </style>
</head>
<body>
    <div class="d-flex">
        <div class="container-fluid w-10">
            <div class="row">
                <div class="col-md-3 col-sm- col-xs-12 p-0 w-40 sidebar">
                    <div class="sidebar-header p-3" style="background-color:black;">
                        <h3 style="color:white">ELearning</h3>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="nav-item" >
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-user"></i> Student
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddStudent", "Student")">
                                        <i class="fas fa-plus"></i> Add Student
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListStudent", "Student")">
                                        <i class="fas fa-list"></i> List Student
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-book"></i> Course
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddCourse", "Course")">
                                        <i class="fas fa-plus"></i> Add Course
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListCourse", "Course")">
                                        <i class="fas fa-list"></i> List Course
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-person-chalkboard"></i> Instructor
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddInstructor", "Instructor")">
                                        <i class="fas fa-plus"></i> Add Instructor
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListInstructor", "Instructor")">
                                        <i class="fas fa-list"></i> List Instructor
                                    </a>
                                </li>

                            </ul>
                        <li/>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-file"></i> Lesson
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddLesson", "Lesson")">
                                        <i class="fas fa-plus"></i> Add Lesson
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListLesson", "Lesson")">
                                        <i class="fas fa-list"></i> List Lesson
                                    </a>
                                </li>

                            </ul>
                        <li/>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-file-import"></i> Enrollment
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddEnrollment", "Enrollment")">
                                        <i class="fas fa-plus"></i> Add Enrollment
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListEnrollment", "Enrollment")">
                                        <i class="fas fa-list"></i> List Enrollment
                                    </a>
                                </li>

                            </ul>
                        <li/>
                        <li class="nav-item">
                            <a>
                                <i class="fas fa-progress"></i>Progress
                            </a>
                            <ul style="padding: 0;">
                                <li>
                                    <a href="@Url.Action("AddProgress", "Progress")">
                                        <i class="fas fa-plus"></i> Add Progress
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListProgress", "Progress")">
                                        <i class="fas fa-list"></i> List Progress
                                    </a>
                                </li>

                            </ul>
                        <li/>

                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 h-100">
            <!-- Content Goes Here -->
        </div>
    </div>
    <div class="w-100 h-100">
        @RenderBody()
    </div>
</body>
